.headertext{
    width: 100vw;
    text-align: center;
    background-color: #009879;
    margin:0;
    color: #ffffff;
    padding-top:1em;
    padding-bottom: 1em;
}
h1{
    margin:unset;
}
.hidden{
    display: none;
}
.deleteButton{
    color: white;
    background-color: rgb(201, 103, 103);
    border-color: rgb(204, 110, 110);
    min-width: 35px;
    min-height: 35px;
    border-radius: 5px;
}
.deleteButton:hover{
    background-color: #009879;
    border-color: #009879;
    transition: 0.5s;
    transform: scale(1.2);
}
.content-table{
    border-collapse: collapse;
    width:70%;
    margin-inline:auto;
    margin-top: 2em;
}
.content-table thead tr{
    background-color: #009879;
    color: white;
    text-align: left;
    font-weight: bold;
}
.content-table th,
.content-table td{
    padding: 12px 15px;
}
.content-table tbody tr{
    border-bottom: 1px solid rgb(60, 59, 59);
}
.content-table tbody tr:nth-of-type(even){
    background-color: rgb(37, 36, 36);
}
.content-table tbody tr:last-of-type{
    border-bottom:3px solid #009879;
}
