<div class="headertext">
    <h1>Postal_IR</h1>
</div>
<app-package></app-package>
    <table class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ADRESSED PERSON</th>
                <th>STREETNAME</th>
                <th>HOUSE NUMBER</th>
                <th>POSTAL CODE</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let package of packages">
                <!-- <app-package [Package]="package"></app-package> -->
                <td>{{package.id}}</td>
                <td>{{package.adressed_name}}</td>
                <td>{{package.street_name}}</td>
                <td>{{package.house_number}}</td>
                <td>{{package.postal_code}}</td>
                <td><button class="deleteButton" (click)="DeletePackage(package.id)">X</button></td>
            </tr>
        </tbody>
    </table>