<div class="headertext">
    <h1>Postal_IR</h1>
    <button class="syncButton" *ngIf="isOnline == true" (click)="syncApp()">sync</button>
</div>
<app-package></app-package>
    <table class="content-table" id="packageTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>ADRESSED PERSON</th>
                <th>STREETNAME</th>
                <th>HOUSE NUMBER</th>
                <th>POSTAL CODE</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="packageTableBody">
            <tr *ngFor="let package of packages" id="{{package.id}}">
                <td>{{package.id}}</td>
                <td>{{package.adressed_name}}</td>
                <td>{{package.street_name}}</td>
                <td>{{package.house_number}}</td>
                <td>{{package.postal_code}}</td>
                <td><button class="deleteButton" (click)="DeletePackage(package.id)">X</button></td>
            </tr>
            <tr *ngFor="let package of sessionPackages" class="default">
                <td>To upload</td>
                <td>{{package.adressed_name}}</td>
                <td>{{package.street_name}}</td>
                <td>{{package.house_number}}</td>
                <td>{{package.postal_code}}</td>
            </tr>
        </tbody>
    </table>